.slider {
  align-self: flex-end;
  box-sizing: border-box;
  margin-right: 0;
  width: 48vw;
  height: 100%;

  @include mobile {
    width: 100%;
    height: 390px;
  }

  &__box {
    position: absolute;
    top: 120px;
    right: 0;
    display: flex;
    overflow: hidden;
    width: 48vw;
    height: 680px;

    @include mobile {
      left: 0;
      bottom: 0;
      top: 503px;
      width: 100%;
      height: 390px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__slideImg {
    display: none;

    &--active {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 30px 0;
      background-size: cover;
    }

    &--1 {
      background-image: url(../images/slider/slide-img-1.jpg);
    }

    &--2 {
      background-image: url(../images/slider/slide-right.png);
    }
  
    &--3 {
      background-image: url(../images/slider/slide-left.jpg);
    }

    @include mobile {
      opacity: 0.7;
    }
  }

  &__buttons {
    position: absolute;
    left: 48px;
    bottom: 64px;
    display: flex;
    gap: 16px;
    z-index: 2;
    width: max-content;
    height: 32px;

    @include mobile {
      left: 5vw;
      bottom: 116px;
    }
  }

  &__button {
    display: flex;
    width: 32px;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    background: url("../images/arrow.svg") no-repeat center;
    background-color: #fff;

    &--prev {
      transform: rotate(180deg);
    }

    &:hover {
      box-shadow: 1px 4px 16px $blueColor;
    }

    &:disabled {
      background: none;
      cursor: inherit;

      &:hover {
        box-shadow: none;
      }
    }
  }

  /*-----------Intro---------*/
  &__container {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 264px;
    height: 100%;
    margin-left: 35%;
    padding-bottom: 48px;

    @media (max-width: 880px) {
      margin-left: 30%;
    }

    @include mobile {
      align-self: flex-start;
      padding-bottom: 32px;
      margin-left: 0;
    }
  }

  &__intro {
    padding-bottom: 8px;
    @include block-title;
    color: #fff;
    z-index: 3;
  }

  &__intro-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 142%;
    color: #fff;
    z-index: 3;
    padding-right: 20px;
  }
}
